
@{
    Layout = null;
}
@* Room Index *@
<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_DefaultHeadViewComponentPartial")
<body>
    <div class="container-xxxl bg-white p-0">
        @await Component.InvokeAsync("_DefaultHeaderViewComponentPartial")
        @await Component.InvokeAsync("_RoomCoverPartial")
        @await Component.InvokeAsync("_RoomListPartial")
        <br />
        <br />
        <br />
        @await Component.InvokeAsync("_DefaultFooterViewComponentPartial")
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    @await Component.InvokeAsync("_DefaultScriptsViewComponentPartial")
</body>
</html>