@model CreateStaffDto
@{
    ViewData["Title"] = "CreateStaff";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <label>Personel Adı</label>
    <input type="text" class="form-control" asp-for="Name" />
    <br />
    <label>Personel Soyadı</label>
    <input type="text" class="form-control" asp-for="Surname" />
    <br />
    <label>Unvan</label>
    <input type="text" class="form-control" asp-for="Title" />
    <br />
    <label>Sosyal Medya  1</label>
    <input type="text" class="form-control" asp-for="SocialMedia1" />
    <br />
    <label>Sosyal Medya  2</label>
    <input type="text" class="form-control" asp-for="SocialMedia2" />
    <br />
    <label>Sosyal Medya  3</label>
    <input type="text" class="form-control" asp-for="SocialMedia3" />    
    <br />
    <label>Görsel</label>
    <input type="text" class="form-control" asp-for="ImageUrl" />    
    <br />
    <label>Gecikme</label>
    <input type="text" class="form-control" asp-for="Delay" />
    <br />
    <button class="btn mb-1 btn-rounded btn-outline-primary">Kaydet</button>
</form>